<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicofkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasicOfKotlin">
        <activity
            android:name="com.example.fragment_datapassing.DataPassing"
            android:exported="false" />
        <activity
            android:name="com.example.permission_model.PermissionModel"
            android:exported="false" />
        <activity
            android:name="com.example.coroutine.CoRoutineDemo"
            android:exported="false" />
        <activity
            android:name="com.example.view_model_factory.ViewModelFactoryDemo"
            android:exported="false" />
        <activity
            android:name="com.example.architecture.mvvm.api.view.ApiCallingUsingMVVM"
            android:exported="false" />
        <activity
            android:name="com.example.binding_adapter.BindingAdapterDemo"
            android:exported="false" />
        <activity
            android:name="com.example.architecture.mvvm.view.MVVMDemo"
            android:exported="false" />
        <activity
            android:name="com.example.architecture.mvp.view.MVPDemo"
            android:exported="false" />
        <activity
            android:name="com.example.architecture.AndroidArchitecture"
            android:exported="false" />
        <activity
            android:name="com.example.architecture.mvc.controller.MVCController"
            android:exported="false" />
        <activity
            android:name="com.example.other_layout.WebView"
            android:exported="false" />
        <activity
            android:name="com.example.other_layout.FourExercise"
            android:exported="false" />
        <activity
            android:name="com.example.other_layout.SearchViewInRecycler"
            android:exported="false" />
        <activity
            android:name="com.example.other_layout.NestedLayout"
            android:exported="false" />
        <activity
            android:name="com.example.webservices.ManualJsonDataParsing"
            android:exported="false" />
        <activity
            android:name="com.example.webservices.SingleUser"
            android:exported="false" />
        <activity
            android:name="com.example.webservices.UserList"
            android:exported="false" />
        <activity
            android:name="com.example.webservices.LoginScreen"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.IntentFilter"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.intent_activity_fragment.Practical2"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.Practical1"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.ExplicitIntent"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.IntentActivityFragment"
            android:exported="false" />
        <activity
            android:name="com.example.intent_activity_fragment.IntentClass"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.PlayStore"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.GridRecyclerView"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.BottomNavigation"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.ExpandableRecyclerView"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.ExpandableListView"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.CustomListView"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.ConditionBasedListView"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.SimpleList"
            android:exported="false" />
        <activity
            android:name="com.example.recyclevier.RecyclerViewandAdapters"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.TabLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.TableLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.FrameLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.GridLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.RelativeLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.ConstrainLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.LinearLayoutDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.LayoutExercise"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.FormExercise"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JavaPractical"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>